<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Parent Details</h4>
                <div class="row" style="margin-top: 1em; margin-bottom: 0em; padding-bottom: 1em; padding-top: 1em;">
                    <div class="col-lg-4  ">
                        <input class="form-control fm-control" [(ngModel)]="searchText" (keyup)=searchFromDb(search.value) #search placeholder="CNIC / Phone Number">
                    </div>

                    <div class="col-lg-5  ">

                    </div>

                    <div class="col-lg-3 pull-right " style="padding-bottom: 1.5em;">

                        <button _ngcontent-c2="" (click)="prepare_add_parent_modal(AddParentModal)" class="btn btn-success btn-block">New Parent
              <i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th># </th>
                                <th>Parent Name </th>
                                <th>Email </th>
                                <th>User Name</th>
                                <th>Phone Number </th>
                                <th>Secondary Phone #</th>
                                <th>CNIC </th>



                                <th *ngIf="(admin_level == 1)">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of parentsDataList | filter : searchText | paginate: { id: 'pager', itemsPerPage: pageSize, totalItems: totalParents , currentPage: pageNumber};let index = index">
                                <td>{{index + 1}}</td>
                                <td>{{item.parent_name}}</td>
                                <td>{{ show_parent_detail(item.primary_parent_type,item.parent_email,item.mother_email,item.guardian_email) }}</td>
                                <td>{{ item.parent_userName}}</td>
                                <td>{{ show_parent_detail(item.primary_parent_type,item.parent_phoneNum,item.mother_phoneNum,item.guardian_phoneNum)}}</td>
                                <td>{{ show_parent_detail(item.primary_parent_type,item.parent_sec_phoneNum,item.mother_sec_phoneNum,item.guardian_sec_phoneNum) }}</td>
                                <td>{{ show_parent_detail(item.primary_parent_type,item.parent_cnic,item.mother_cnic,item.guardian_cnic)}}</td>

                                <!-- <td>{{item.parent_address}}</td> -->

                                <td *ngIf="(admin_level == 1)">

                                    <label class="badge badge-info" (click)="prepare_edit_parent_modal(AddParentModal,item.parent_id, index )" style="cursor: pointer;">Edit</label>
                                    <label class="badge badge-danger" (click)=deleteParent(item.parent_id) style="cursor: pointer; margin-left: 1em;">Delete
                  </label>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="text-align: center ; margin-top: 2em;">
                        <form class="pagination-wrapper">
                            <div class="form-group pages">
                                <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                                </pagination-controls>
                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>


<!-- add parent modal  -->


<ng-template #AddParentModal let-modal>
    <div class="modal-header">
        <div style="text-align: center; width:100%;">
            <h3>{{ add_or_edit_parent_mode =='add' ? 'Add parent details' : 'Update parent details'  }}</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form class="form-group" #addparent="ngForm" (ngSubmit)="add_or_edit_parent_mode=='add' ? onSubmitAddParent(addparent) : onSubmitUpdateParent(addparent)">
        <div class="modal-body">

            <div class="row">
                <div class="col-md-2 form-group">
                    <label class="control-label"> <b>Select Guardian:</b></label>
                </div>
                <div class="col-md-2 form-group" style="margin-left:-5em;">

                    <select (change)="onChangeFatherMotherGuardian(fatherMotherGuardian.value)" [(ngModel)]="fatherMotherGuardianText" #fatherMotherGuardian="ngModel" class="form-control fm-control" required style="margin-top:0em;" name="parentMotherGuardian">
                        <option  *ngFor="let item of optionList"  [value]="item.value">{{item.name}}</option>
                       
                    </select>

                </div>
            </div>
            <hr style="height: 1px; background-color:#ccc; border:none;">
            <h4 [ngStyle]='FatherStyle'>Father's Details
                <font color="red" style="margin-left: -5px;" *ngIf="fatherMotherGuardian.value == 'father'">*</font>
            </h4>


            <div class="row">

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Father Name * <span style="color:red;"
              *ngIf="fatherMotherGuardian.value == 'father' && !pickedPname.valid && pickedPname.touched" ><small>
                Father Name Required</small> </span></label>
                    <input required="" type="text" style="margin-top:0em;" class="form-control fm-control" name="parent_name" placeholder="Father Name" [(ngModel)]="parent_name" #pickedPname="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Father CNIC <span *ngIf="parent_type=='father'">*</span> <span style="color:red;"
              *ngIf="fatherMotherGuardian.value == 'father'&& !pickedCNIC.valid && pickedCNIC.touched"><small>
                Invalid CNIC Number</small> </span></label>
                    <span style="color:red;" *ngIf="cnic_check"><small style="margin-left: 1em;"> CNIC is
              already in use</small></span>
                    <input [required]="parent_type=='father'" [pattern]="nicNumberPattern"  type="number" style="margin-top:0em;" (keyup)="check_cnicUniqueF(this.parent_cnic)" class="form-control fm-control" name="parent_cnic" placeholder="71502145XXXXX" [(ngModel)]="parent_cnic" #pickedCNIC="ngModel">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Father Phone Number <span *ngIf="parent_type=='father'">*</span> <span style="color:red;"
              *ngIf="fatherMotherGuardian.value == 'father' && !pickedPphoneNum.valid && pickedPphoneNum.touched"><small>
                Father Phone Number Required</small>
            </span></label>
                    <span style="color:red;" *ngIf="phone_check"><small style="margin-left: 0em;"> Number is
              already in use</small></span>
                    <input [required]="parent_type=='father'" type="number" (keyup)="setUserName(this.parent_phoneNum,'father')" style="margin-top:0em;"  class="form-control fm-control" name="parent_phoneNum" placeholder="Father Phone Number" [(ngModel)]="parent_phoneNum" #pickedPphoneNum="ngModel">
                </div>


                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Father Occupation</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="parent_profession" placeholder="Father Occupation" [(ngModel)]="parent_profession">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Father Income</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="parent_income" placeholder="Father Income" [(ngModel)]="parent_income">
                </div>


                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Father Education</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="parent_education" placeholder="Father Education" [(ngModel)]="parent_education">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Father Work Phone</label>
                    <input type="number" style="margin-top:0em;" class="form-control fm-control" name="parent_sec_phoneNum" placeholder="Father Office Phone" [(ngModel)]="parent_sec_phoneNum">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Father Email</label>
                    <span style="color:red;" *ngIf="email_check"><small style="margin-left: 1em;"> Email is
              already in use</small></span>
                    <input type="email" style="margin-top:0em;" class="form-control fm-control" name="parent_email" placeholder="Father Email" [(ngModel)]="parent_email" (keyup)=check_emailUniqueF(this.parent_email) #pickedPemail="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Father Address</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="parent_address" placeholder="Father Address" [(ngModel)]="parent_address">
                </div>

            </div>
            
            <hr style="height: 1px; background-color:#ccc; border:none;">
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> User Name *
            <span style="color:red;" *ngIf="!pickedPuserName.valid && pickedPuserName.touched"><small>
                User
                Name Required</small> </span>
            <span style="color:red;" *ngIf="checkUserName"><small style="margin-left: 1em;"> User Name is
                already in use</small></span>
          </label>
                    <input type="text" readonly style="margin-top:0em;"  class="form-control fm-control" name="parent_userName" (keyup)=isUserNameAdded(this.parent_userName) placeholder="User Name" [(ngModel)]="parent_userName" #pickedPuserName="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Password <span *ngIf="add_or_edit_parent_mode=='add'">*</span> <span *ngIf="add_or_edit_parent_mode=='edit'">(Only if you want to change)</span> <span style="color:red;"
              *ngIf="add_or_edit_parent_mode=='add' && !pickedPassword.valid && pickedPassword.touched"><small>Field
                Required</small>
            </span></label>
                    <input type="text" style="margin-top:0em;"  class="form-control fm-control" name="parent_password" placeholder="password" [(ngModel)]="parent_password" #pickedPassword="ngModel">
                </div>

            </div>

            <hr style="height: 1px; background-color:#ccc; border:none;">
            <h4 [ngStyle]='MotherStyle'>Mother's Details
                <!--to do need to separate underscore and * control  -->
                <font color="red" style="margin-left: -5px;" *ngIf="fatherMotherGuardian.value == 'mother'">*</font>
            </h4>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Mother Name <span *ngIf="parent_type=='mother'">*</span>  <span style="color:red;"
                    *ngIf="fatherMotherGuardian.value == 'mother' && !motherName.valid && motherName.touched"><small>
                Mother Name Required</small></span></label>
                    <input [required]="parent_type=='mother'" type="text"  style="margin-top:0em;" class="form-control fm-control" name="mother_name" placeholder="Mother Name" [(ngModel)]="mother_name" #motherName="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Mother CNIC <span *ngIf="parent_type=='mother'">*</span> <span style="color:red;"
                        *ngIf="fatherMotherGuardian.value == 'mother' && !motherCNIC.valid && motherCNIC.touched">
                        <small>Mother CNIC  Required</small>
                    </span></label>

                    <input [required]="parent_type=='mother'" [pattern]="nicNumberPattern" type="number"  style="margin-top:0em;" (keyup)="check_cnicUniqueF(this.mother_cnic)" class="form-control fm-control" name="mother_cnic" placeholder="71502145XXXXX" [(ngModel)]="mother_cnic" #motherCNIC="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Mother Phone Number <span *ngIf="parent_type=='mother'">*</span> <span style="color:red;" *ngIf="fatherMotherGuardian.value == 'mother' && !pickedMphoneNum.valid && pickedMphoneNum.touched">
            <small>Mother Phone Number Required</small></span></label>
                    <span style="color:red;" *ngIf="phone_check"><small style="margin-left: 0em;"> Number is
              already in use</small></span>
                    <input [required]="parent_type=='mother'" type="number" (keyup)="setUserName(this.mother_phoneNum,'mother')" style="margin-top:0em;"  class="form-control fm-control" name="mother_phoneNum" placeholder="Mother Phone Number" [(ngModel)]="mother_phoneNum" #pickedMphoneNum="ngModel">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Mother Occupation</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="mother_profession" placeholder="Mother Occupation" [(ngModel)]="mother_profession">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Mother Income</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="mother_income" placeholder="Mother Income" [(ngModel)]="mother_income">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Mother Education</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="mother_education" placeholder="Mother Education" [(ngModel)]="mother_education">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Mother Work Phone</label>
                    <input type="number" style="margin-top:0em;" class="form-control fm-control" name="mother_sec_phoneNum" placeholder="Mother Office Phone" [(ngModel)]="mother_sec_phoneNum">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Mother Email</label>
                    <span style="color:red;" *ngIf="email_check"><small style="margin-left: 1em;"> Email is
              already in use</small></span>
                    <input type="email" style="margin-top:0em;" class="form-control fm-control" name="mother_email" placeholder="Mother Email" [(ngModel)]="mother_email" (keyup)=check_emailUniqueF(this.mother_email) #motherEmail="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Mother Address</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="mother_address" placeholder="Mother Address" [(ngModel)]="mother_address">
                </div>
            </div>

            <hr style="height: 1px; background-color:#ccc; border:none;">
            <h4 [ngStyle]='GuardianStyle'>Guardian Details
                <font color="red" style="margin-left: -5px;" *ngIf="fatherMotherGuardian.value == 'guardian'">*</font>
            </h4>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Guardian Name <span *ngIf="parent_type=='guardian'">*</span> <span style="color:red;"
              *ngIf="fatherMotherGuardian.value == 'guardian' && !guardianName.valid && guardianName.touched"><small>
                Guardian Name Required</small> </span></label>
                    <input [required]="parent_type=='guardian'" type="text"  style="margin-top:0em;" class="form-control fm-control" name="guardian_name" placeholder="Guardian Name" [(ngModel)]="guardian_name" #guardianName="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Guardian CNIC <span *ngIf="parent_type=='guardian'">*</span> <span style="color:red;"
              *ngIf="fatherMotherGuardian.value == 'guardian' && !guardianCNIC.valid && guardianCNIC.touched"><small>
                Invalid CNIC Number</small> </span></label>
                    <span style="color:red;" *ngIf="cnic_check"><small style="margin-left: 1em;"> CNIC is
              already in use</small></span>
                    <input [required]="parent_type=='guardian'" [pattern]="nicNumberPattern" type="number"  style="margin-top:0em;" (keyup)="check_cnicUniqueF(this.guardian_cnic)" class="form-control fm-control" name="guardian_cnic" placeholder="71502145XXXXX" [(ngModel)]="guardian_cnic" #guardianCNIC="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Guardian Phone Number <span *ngIf="parent_type=='guardian'">*</span> <span style="color:red;"
              *ngIf="fatherMotherGuardian.value == 'guardian' && !pickedGphoneNum.valid && pickedGphoneNum.touched"><small>
                Phone Number Required</small>
            </span></label>
                    <span style="color:red;" *ngIf="phone_check"><small style="margin-left: 0em;"> Number is
              already in use</small></span>
                    <input [required]="parent_type=='guardian'" type="number" style="margin-top:0em;"  class="form-control fm-control" (keyup)="setUserName(this.guardian_phoneNum,'guardian')" name="guardian_phoneNum" placeholder="Guardian Phone Number" [(ngModel)]="guardian_phoneNum" #pickedGphoneNum="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Guardian Relation</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="guardian_relation" placeholder="Guardian Relation" [(ngModel)]="guardian_relation">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Guardian Occupation</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="guardian_profession" placeholder="Guardian Occupation" [(ngModel)]="guardian_profession">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Guardian Income</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="guardian_income" placeholder="Guardian Income" [(ngModel)]="guardian_income">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Guardian Education</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="guardian_education" placeholder="Guardian Education" [(ngModel)]="guardian_education">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Guardian Work Phone</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="guardian_sec_phoneNum" placeholder="Guardian Office Phone" [(ngModel)]="guardian_sec_phoneNum">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Guardian Email</label>
                    <span style="color:red;" *ngIf="email_check"><small style="margin-left: 1em;"> Email is
              already in use</small></span>
                    <input type="email" style="margin-top:0em;" class="form-control fm-control" name="guardian_email" placeholder=" Guardian Email" [(ngModel)]="guardian_email" (keyup)=check_emailUniqueF(this.guardian_email) #gaurdianEmail="ngModel">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Guardian Address</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" name="guardian_address" placeholder="Guardian Address" [(ngModel)]="guardian_address">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="!addparent.form.valid || checkUserName || !checkCnic || !checkPhone" value="{{ add_or_edit_parent_mode =='add' ? 'Add Parent' : 'Update Parent'  }}">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>
