<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="form-group" #viewexpenses="ngForm" (ngSubmit)="post_viewexpenses_form(viewexpenses)">

        <div class="row">
          
          <div class="col-12">
              <h4 class="card-title"> Expense / Income Reports</h4>
          </div>
        </div>
          
        <div class="row">

          <div class="col-1 d-flex align-items-center justify-content-end">
            <input [(ngModel)]="filter_type" value="custom" type="radio" class="fm-control" style="margin-top:2rem" id="filter_type_custom" name="filter_type">
          </div>

          <div class="col-11 col-sm-2">
            <label class="control-label">Custom</label>
            <select [disabled]="filter_type =='dates'" class="form-control fm-control" name="custom_filter" [(ngModel)]="custom_filter" id="custom_filter">
              <option value="">Select filter</option>
              <option value="-15 days"> Last 15 days</option>
              <option value="-1 months"> Last 1 month</option>
              <option value="-2 months"> Last 2 months</option>
              <option value="-3 months"> Last 3 months</option>
              <option value="-4 months"> Last 4 months</option>
              <option value="-5 months"> Last 5 months</option>
              <option value="-6 months"> Last 6 months</option>
            </select>
          </div>

          
          <div class="col-1 d-flex align-items-center justify-content-end">
            <input [(ngModel)]="filter_type" value="dates" type="radio" class="fm-control" style="margin-top:2rem" id="filter_type_dates" name="filter_type">
          </div>

          <div class="col-5 col-sm-2">
            <label class="control-label">From </label>
            <input [disabled]="filter_type =='custom'" type="date" required class="form-control fm-control" id="start_date" name="start_date" [(ngModel)]="start_date"
            #pickedExpenseDate="ngModel">
          </div>
          
          <div class="col-6 col-sm-2">
            <label class="control-label">To </label>
            <input [disabled]="filter_type =='custom'" type="date" required class="form-control fm-control" id="end_date" name="end_date" [(ngModel)]="end_date"
            #pickedExpenseDate="ngModel">
          </div>

        </div>
        <div class="row mt-2">
         
          <div class="col-sm-2 offset-sm-1">
            <label class="control-label" for="sort_by"> Order by</label>
            <select class="form-control fm-control" name="sort_by" [(ngModel)]="sort_by" id="sort_by">
              <option value="">Select filter</option>
              <option value="category"> Category</option>
            </select>
          </div> 

          <div class="col-sm-3">
            <label class="control-label" for="sort_by"> Category</label>
            <select class="form-control fm-control" name="expense_category_id" [(ngModel)]="expense_category_id" id="expense_category_id">
              <option value="">Select Category</option>
              <option *ngFor="let item of expense_categories" [value]="item.id">{{ item.expense_category_name }}</option>
            </select>
          </div>

          <div class="col-sm-3">
            <label class="control-label" for="sort_by"> Expense / Income Type</label>
            <select class="form-control fm-control" name="expense_category_type_xref_id" [(ngModel)]="expense_category_type_xref_id" id="expense_category_type_xref_id">
              <option value="">Select Expense / Income type</option>
              <option *ngFor="let item of expense_category_type_xref" [value]="item.expense_category_type_xref_id">{{ item.expense_category_type_xref_name }}</option>
            </select>
          </div> 

          <div class="col-sm-3">
              <label class="control-label d-block"> &nbsp; </label>
              <button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp; Submit &nbsp;&nbsp;</button>
          </div>
          <!-- <div class="col-1">
              <label class="control-label">&nbsp; </label>
              <button (click)="reset_form_fields()" type="button" class="btn btn-success btn-sm">Reset</button>
          </div> -->

        </div>


      </form>
        <!-- below is old design for showing Expenses -->

        <div class="row">
            <div class="table-responsive" style="overflow-x: hidden;">
                <div class="row">
                    
                  <div class="col-lg-12 col-md-12 col-sm-12">
                         
                    <table id="expense_category_heads_table" class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>Date</th>
                          <th>Category</th>
                          <th>Expense / Income Title</th>
                          <th>Type</th>
                          <th style="width: 25%;">Description</th>
                          <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                              <tr
                                *ngFor="let item of expenses;let index = index">
                                <td>{{ pretty_date(item.expense_date) }}</td>
                                <td>{{item.expense_category_name}}</td>
                                <td>{{item.head_name}}</td>
                                <td>{{ show_expense_category_type_xref_name(item.expense_category_type_xref_id) }}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.expense_amount}}</td>
                              </tr>
                              <tr *ngIf="no_expenses_for_specified_period" style="color: red;">
                                <td colspan="6">
                                    No records found for given time period
                                </td>
                              </tr>
                        </tbody>
                        
                          
                      </table>
                      
                  </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4"><h3>Expense: <span class="text-danger">{{ expenses_stats.expenditures }}</span></h3></div>
            
        <!-- </div>
        <div class="row"> -->
            <div class="col-sm-4"><h3>Income: <span class="text-success">{{ expenses_stats.incomes }}</span></h3></div>
    
            <div class="col-sm-4"><h3>Profit / Loss: <span [innerHTML]="show_expenses_result(expenses_stats.expenditures,expenses_stats.incomes)"></span></h3></div>

        </div>
        <div class="row text-right mt-4">
            <div class="col-12 pr-0">
                <button (click)="prepare_print_report_modal(PrintReportModal)" class="btn btn-success float-right">Print Preview</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #PrintReportModal let-modal>
  <div class="modal-header">
    <div style="text-align: center">
      <h4>Print report</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    
  <div class="modal-body p-1">

      <div class="row">
          <div id="income_statement" class="col-sm-10 offset-sm-1">
            <h2 style="text-align:center;padding-top:20px;padding-bottom:4px">{{ school_info.school_name }}</h2>
  <p style="text-align:center;padding-bottom:4px;width:50%;margin:0 auto;"> {{school_info.school_address}} <br> {{school_info.school_num}} <br> support@email.com </p>
  <h2 style="text-align:center;padding-bottom:4px">Financial Statement</h2>
  <h6 style="text-align:center;padding-bottom:4px;    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;font-size: 1rem;margin-top: 0;"><u>{{ report_time_period }}</u></h6>
  <hr style="    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);">
     <table style="border: 1px solid #dee2e6;width: 100%;margin-bottom: 1rem;color: #212529;">
      <thead style="text-align: center;">
            <tr>
              <th style="color: #495057;background-color: #e9ecef;padding: 0.75rem;
              vertical-align: top;border-bottom: 1px solid #e9ecef;">Title</th>
                  
                  
              <th style="color: #495057;background-color: #e9ecef;padding: 0.75rem;vertical-align: top;border-bottom: 1px solid #e9ecef;width:15%">Category</th>
                  <th style="color: #495057;background-color: #e9ecef;padding: .75rem;
              vertical-align: top;border-bottom: 1px solid #e9ecef;width:20%">Date</th>
                  <th style="color: #495057;background-color: #e9ecef;padding: .75rem;
              vertical-align: top;border-bottom: 1px solid #e9ecef;width:10%">Income</th>
                  <th style="color: #495057;background-color: #e9ecef;padding: .75rem;
              vertical-align: top;border-bottom: 1px solid #e9ecef;width:10%">Expense</th>
            </tr>
          </thead>
          <tbody style="line-height:0.5">
            
            <tr
              *ngFor="let item of expenses;let index = index">
              <td style="padding: .75rem;
              vertical-align: top;" class="border-none">{{item.head_name}}</td>
              
              <td style="border-left: 1px solid #dee2e6;border-right: 1px solid #dee2e6;padding: .75rem;
              vertical-align: top;text-align:center;">{{item.expense_category_name}}</td>
              
              <td style="border-right: 1px solid #dee2e6;padding: .75rem;
               vertical-align: top;text-align:center;">{{ pretty_date(item.expense_date) }}</td>
              
              <td style="border-bottom: 1px solid #dee2e6;border-right: 1px solid #dee2e6;padding: .75rem;
              vertical-align: top;text-align:center;" >{{ item.expense_category_type_xref_id ==1 ? item.expense_amount : ''}}</td>
              
              <td style="border-bottom: 1px solid #dee2e6;padding: .75rem;
              vertical-align: top;text-align:center;" >{{ item.expense_category_type_xref_id ==2 ? item.expense_amount : ''}}</td>
            </tr>
          </tbody>
        </table>
        
        <table style="border-collapse: collapse;margin-bottom: 1rem;color: #212529;" class="table" style="width: 100%;">
          
          <tbody style="line-height:0.5">
            <tr>
              <td style="text-align: left;width:33.3%;padding: .75rem;padding-left: 0%;
              vertical-align: top;border: none !important;" class="border-none">Total Expense : <span class="text-danger">{{expenses_stats.expenditures}}</span></td>
              
 
              <td style="text-align: center;width:33.3%;padding: .75rem;padding-left: 0%;
              vertical-align: top;border: none !important;" class="border-none">Total Income : <span class="text-success">{{ expenses_stats.incomes }}</span></td>

              <td style="text-align: right;width:33.3%;padding: .75rem;padding-left: 0%;padding-right: 0%;
              vertical-align: top;border: none !important;" class="border-none">Profit / Loss :<span [innerHTML]="show_expenses_result(expenses_stats.expenditures,expenses_stats.incomes)"></span></td>
              
            </tr>
        </tbody>
        </table>
          </div>
      </div>

  </div>
  <div class="modal-footer">
    <button (click)="print_report()" type="button" class="btn btn-success">Print</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>