<div class="row">
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mark Employee Attendance</h4>
                <form style="margin-top:2em;" class="form-group" #loadEmployeesForm="ngForm" (ngSubmit)="onSubmitLoadEmployees(loadEmployeesForm)">
                    <div class="row text-center justify-content-center">
                        <div class="col-md-4 form-group">
                            <label class="control-label"> Select employee role *</label>
                            <select class="form-control fm-control"  [(ngModel)]="role_xref_id" name="role_xref_id">
                                <option value="" disabled>Select Employee role</option>
                                <option *ngFor="let item of role_xref_data" [value]="item.role_xref_id">{{ item.role_xref_name }}</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label" style="margin-top:0em;"> Date (dd/mm/yyyy) </label>
                            <input [attr.max]="attendance_max_date" type="date" style="margin-top:0em;" class="form-control fm-control" name="attendance_date" required [(ngModel)]="attendance_date" #pickedattendancedate="ngModel">
                        </div>

                        <div class="col-md-12 form-group" style="text-align: center">
                            <input [disabled]="role_xref_id==''" type="submit" class="btn btn-info" style="margin-left: 1em;font-size: 15px;width:195px;height:35px;padding-top: 9px;" value="Submit">
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="showTable">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="mini-heading" style="text-align: center ; margin-top :-2.5em ; margin-bottom:2em;">
                    <h3> Mark Attendance For</h3>
                    <h4>
                        {{ role_xref_name }}
                    </h4>
                    <h4> For date: {{ attendance_date }}</h4>
                </div>
                <hr>
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Father Name</th>
                            <th>Phone Num.</th>
                            <th>Attendance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of employees_data">
                            <td>{{ item.employee_name }}</td>
                            <td>{{ item.father_name }}</td>
                            <td>{{ item.phone_num }}</td>
                            <td>
                                <div class="pretty p-default p-curve p-toggle">
                                    <input [value]="attend_status['employee_'+item.employee_id]" #PickedAttendance (change)="changeEmployeeAttendanceStatus(PickedAttendance.value,'employee_'+item.employee_id);" [name]="'employee_'+item.employee_id" [checked]="item.attend_status=='P'" type="checkbox" />
                                    <div class="state p-success p-on">
                                        <label>Present</label>
                                    </div>
                                    <div class="state p-danger p-off">
                                        <label>Absent</label>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="row mt-3">
                    <div class="col-lg-12" style="text-align: center">
                        <button (click)="markEmployeeAttendance();" type="button" style="font-size: 15px;width:195px;height:35px;" class="badge badge-info">Mark
              Attendance</button>
                    </div>

                </div>
            
            </div>
        </div>
    </div>

</div>