<div class="row">
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Exam Results</h4>
                <form style="margin-top:2em;" class="form-group" #manageMarks="ngForm" (ngSubmit)="onSubmitMngMarks(manageMarks)">
                    <div class="row">

                        <div class="col-md-2 form-group">
                            <label class="control-label"> Exam *</label>
                            <span style="color:red; margin-left: 1em;" *ngIf="!pickedExam.valid && pickedExam.touched"><small>Exam
                  Required</small></span>
                            <select class="form-control fm-control" required style="margin-top:0em;" #pickedExam [(ngModel)]="exam" (change)=submitExamIdF(pickedExam.value) name="exam">
                <option [ngValue]="undefined" disabled>Select Exam</option>
                <option *ngFor="let item of examsDataList" [value]="item.exam_id">{{item.exam_name}}</option>
              </select>

                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label"> Class *</label>
                            <span style="color:red; margin-left: 1em;" *ngIf="!pickedCLass.valid && pickedCLass.touched"><small>Class
                  Required</small></span>
                            <select class="form-control fm-control" style="margin-top:0em;" #pickedCLass [(ngModel)]="classid" (change)=classSelected(pickedCLass.value); name="classid">
                <option [ngValue]="undefined" disabled>Select Class</option>
                <option *ngFor="let item of classdataList" [value]="item.class_id">{{item.class_name}}</option>
              </select>

                        </div>

                        <div class="col-md-2 form-group">
                            <label class="control-label"> Section *</label>
                            <span style="color:red; margin-left: 1em;" *ngIf="!pickedSection.valid && pickedSection.touched"><small>Section
                  Required</small></span>
                            <select class="form-control fm-control" style="margin-top:0em;" #pickedSection [(ngModel)]="section" (change)="sectionSelectedF(pickedSection.value)" name="section">
                <option [ngValue]="undefined" disabled>Select Section</option>
                <option *ngFor="let item of sectionsList" [value]="item.section_id">{{item.section_name}}</option>
              </select>

                        </div>

                        <div class="col-md-2 form-group">
                            <label class="control-label" style="margin-top:0em;"> Subject * </label>
                            <span style="color:red; margin-left: 1em;" *ngIf="!pickedSubject.valid && pickedSubject.touched"><small>Subject
                  required</small></span>

                            <select class="form-control fm-control" style="margin-top:0em;" #pickedSubject [(ngModel)]="subject" (change)=funSelectedSub(pickedSubject.value) name="subject">
                <option [ngValue]="undefined" disabled>Select Subject</option>
                <option *ngFor="let item of cSubjectsList" [value]="item.subject_id + '-' + item.subject_type">
                  {{item.subject_name}}</option>
              </select>
                        </div>
                        <div class="col-md-2 form-group" *ngIf="!showGrading">
                            <label class="control-label" style="margin-top:0em;"> Subject Total Marks * </label>
                            <span style="color:red; margin-left: 1em;" *ngIf="!pickedTMarks.valid && pickedTMarks.touched"><small>Total Marks
                  required</small></span>

                            <input type="number" required class="form-control fm-control" name="subj_total_marks" #pickedTMarks [(ngModel)]="subj_total_marks">
                        </div>

                        <div class="col-md-2 form-group" style="text-align: center ; ">
                            <input type="submit" class="btn btn-info" style="margin-top:2em" [disabled]="!manageMarks.form.valid || disableBtn" value="Manage Marks">

                        </div>
                        <div style="text-align: center">
                            <h5 style="color: red;"> {{studentAvailabe}}</h5>
                        </div>
                    </div>
                </form>
                <div class="col-lg-12" style="text-align:center;">
                    <span style="color:red;">{{ dbRespMsg }}</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row" *ngIf="showtable">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div style="margin-top: -3em; text-align: center; margin-bottom: 3em;" class="mini-heading">
                    <h3> Manage Exam Results</h3>
                    <h4>
                        Class : {{selectedClassName}}
                    </h4>
                    <h4> Section : {{selectedClsSection}}
                    </h4>
                    <!-- <h4> Exam Date : {{examDate * 1000 | date}}
                    </h4> -->
                    <h4 *ngIf="!showGrading"> Subject Total Marks : {{ subj_total_marks }}
                    </h4>

                </div>
                <hr>

                <div class="row" style="margin-top: 1em; margin-bottom: 0em; padding-bottom: 1.5em; padding-top: 0em;">
                    <div class="col-lg-4">
                        <input class="form-control fm-control" [(ngModel)]="searchText" placeholder="Roll Num / Student Name">
                    </div>

                </div>
                <table class="table table-bordered table-hover">
                    <thead *ngIf="(grading_type == 1)">
                        <tr>
                            <th>S.No</th>
                            <th>Roll Num</th>
                            <th>Name </th>
                            <!-- <th>Total Marks</th> -->

                            <th>Obtained Marks</th>

                        </tr>
                    </thead>

                    <thead *ngIf="(grading_type == 2)">
                        <tr>
                            <th>S.No</th>
                            <th>Roll Num</th>
                            <th>Name </th>

                            <th> Update Grading</th>
                            <!-- <th>Update</th> -->

                        </tr>
                    </thead>

                    <tbody *ngIf="(grading_type == 1)">
                        <tr *ngFor="let item of stdExamMarksList | filter : searchText  | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">

                            <td>{{index + 1}}</td>
                            <td>{{item.roll_num}}</td>
                            <td>{{item.std_name}}</td>

                            <td>

                                <input type="number" name="obt_marks" #oMarks [(ngModel)]="item.obtained_marks" (change)="addExamMarks(item.class_id,item.section_id,item.std_id,oMarks.value, 1)">

                            </td>

                        </tr>
                    </tbody>

                    <tbody *ngIf="(grading_type == 2)">
                        <tr *ngFor="let item of stdExamMarksList | filter : searchText  | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">

                            <td>{{index + 1}}</td>
                            <td>{{item.roll_num}}</td>
                            <td>{{item.std_name}}</td>

                            <!-- <td>{{ item.obtained_marks }}</td> -->

                            <td>

                                <select #gradingaction class="form-group" name="userselectedgrade" (change)="addExamMarks(item.class_id,item.section_id,item.std_id,gradingaction.value, 2)" title="Actions">
                  <option hidden value="" disabled selected>Select Grade </option>
                  <option value='A1' [selected]="item.obtained_marks == 'A1'"> A1 </option>
                  <option value='A+' [selected]="item.obtained_marks == 'A+'"> A+ </option>
                  <option value='A' [selected]="item.obtained_marks == 'A'"> A </option>
                  <option value='B' [selected]="item.obtained_marks == 'B'"> B </option>
                  <option value='C' [selected]="item.obtained_marks == 'C'"> C </option>
                  <option value='D' [selected]="item.obtained_marks == 'D'"> D</option>
                </select>
                            </td>

                            <!--
                            <td>
                                <label class="badge badge-info" style="cursor: pointer;" (click)="addExamMarks(item.class_id,item.section_id,item.std_id,gradingaction.value, 2)">Update
                  Grade </label>
                            </td> -->

                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

    </div>

</div>

<!-- *********************************** Modals **************************************** -->

<!-- ******** Update Quiz Marks ************ -->

<ng-template #updateQuizMarksModel let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Update Quiz Marks</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form class="form-group" #updateQMarks="ngForm" (ngSubmit)="onClickUpdateQuizMarks(updateQMarks)">

            <label class="control-label"> Exam Total Marks</label>

            <input type="text" required class="form-control fm-control" name="examTMarks" placeholder="Exam Total Marks" [(ngModel)]="examTMarks" #pickedexamTMarks="ngModel">
            <p style="color: red" *ngIf="!pickedexamTMarks.valid && pickedexamTMarks.touched" style="margin-top:1em; margin-left:0em;">
                Required!
            </p>
            <label class="control-label">Obtained Marks</label>
            <input type="number" required class="form-control fm-control" name="q_obtained_marks" [(ngModel)]="q_obtained_marks" #pickedqobtained_marks="ngModel">
            <!-- <p class="alert alert-danger" *ngIf="!pickedqobtained_marks.valid && pickedqobtained_marks.touched"
              style="margin-top:1em; margin-left:0em;">
              Required!
            </p> -->

            <label class="control-label" style="margin-top:0em;"> Quiz Images <span style="color:red;">
        </span></label>
            <input id="quiz_image" #imageFile accept="image/*" class="form-control fm-control" name="quiz_image" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple />
            <div class="modal_button" style="text-align:right">

                <input type="submit" class="btn btn-info" [disabled]="!updateQMarks.form.valid" value="Update" style="margin-top: 1em;">
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>