<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-9 col-md-9">
                        <h4 class="card-title">Announcements Management</h4>
                    </div>

                    <div class="col-lg-3" style="padding-bottom: 1.5em;">

                        <button _ngcontent-c2="" (click)="openNgModal(addAnnouncModel , 'md')" class="btn btn-success btn-block">Add Announcement
                            <i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
                    </div>
                </div>

                <ngb-tabset class="tab-solid tab-solid-primary">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            Active Announcements
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>S.No</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Announcement Date</th>

                                            <th *ngIf="(admin_level == 1)">Update</th>

                                            <th *ngIf="(admin_level == 1)">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of activeAnnouncementDetails | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                                            <td>{{index+1}}</td>
                                            <td>{{item.announc_title}}</td>
                                            <td>{{item.announc_details}}</td>
                                            <td>{{item.announcement_date * 1000 | date}}</td>

                                            <td *ngIf="(admin_level == 1)">
                                                <label class="badge badge-info"
                                                (click)=openUpdateAnnouncModal(updateAnnouncModel,item.announcement_id)
                                                style="cursor: pointer;">Edit</label>

                                            </td>
                                            <td *ngIf="(admin_level == 1)">
                                                <label class="badge badge-danger"
                                                (click)=onClickDelAnnouncment(item.announcement_id)
                                                style="cursor: pointer;">Delete</label>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            Expired Announcements
                        </ng-template>
                        <ng-template ngbTabContent>
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Announcement Date</th>

                                        <th>Status</th>

                                        <th *ngIf="(admin_level == 1)">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of expiredAnnouncementDetails | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                                        <td>{{index+1}}</td>
                                        <td>{{item.announc_title}}</td>
                                        <td>{{item.announc_details}}</td>
                                        <td>{{item.announcement_date * 1000 | date}}</td>

                                        <td>
                                            <span style="color: red;">Expired </span>
                                        </td>


                                        <td *ngIf="(admin_level == 1)">
                                            <label class="badge badge-danger"
                                            (click)=onClickDelAnnouncment(item.announcement_id)
                                            style="cursor: pointer;">Delete</label>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>
        </div>
    </div>
</div>


<!-- *********************************** Modals **************************************** -->


<!-- ******** Add Announcement ************ -->


<ng-template #addAnnouncModel let-modal>
    <div class="modal-header">
        <div style="text-align: center; ">
            <h3>Add Announcement Details</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
      <form class="form-group" #addannouncement="ngForm" (ngSubmit)="add_newAnnouncement(addannouncement)">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 " style="margin-bottom: -2em;">

                    <label class="control-label"> Announcement Title *</label>

                    <input type="text" required class="form-control fm-control" name="announc_title" placeholder="Announcement Title" [(ngModel)]="announc_title" #pickedAnnouTitle="ngModel">
                    <p class="alert alert-danger" *ngIf="!pickedAnnouTitle.valid && pickedAnnouTitle.touched" style="margin-top:1em; margin-left:0em;">
                        Announcement title is required!
                    </p>

                    <label class="control-label"> Announcement Description *</label>

                    <textarea rows="4" cols="50" required class="form-control fm-control" name="announc_desc" [(ngModel)]="announc_desc" #pickedAnnouDesc="ngModel"> </textarea>
                    <p class="alert alert-danger" *ngIf="!pickedAnnouDesc.valid && pickedAnnouDesc.touched" style="margin-top:1em; margin-left:0em;">
                        Announcement description required!
                    </p>

                    <label class="control-label">Announcement Date * </label>
                    <input type="date" required class="form-control fm-control" name="announc_date" [(ngModel)]="announc_date" #pickedAnnoucDate="ngModel">
                    <p class="alert alert-danger" *ngIf="!pickedAnnoucDate.valid && pickedAnnoucDate.touched" style="margin-top:1em; margin-left:0em;">
                        Announcement Date is required!
                    </p>

                    <label class="control-label">Announcement Expire Date * </label>
                    <input type="date" required class="form-control fm-control" name="announcE_date" [(ngModel)]="announcE_date" #pickedAnnoucEDate="ngModel">
                    <p class="alert alert-danger" *ngIf="!pickedAnnoucEDate.valid && pickedAnnoucEDate.touched" style="margin-top:1em; margin-left:0em;">
                        Announcement Expire Date is required!
                    </p>

                    <label class="control-label" style="margin-bottom: .5em;">Announcement For * </label> <span style="margin-left: 1em; color: brown;"><small>*For
              multiple selection click with Ctrl Key</small></span>

                    <select multiple class="form-control fm-control" required style="margin-top:0em;" [(ngModel)]="announc_for" name="announc_for" #pickedStdGender="ngModel">
            <option [value]="999"> For All Students</option>
            <option *ngFor="let item of classdataList" [value]="item.class_id"> {{item.class_name}}</option>

            <!-- <option *ngFor="#item of myOptions" [value]="item.value">{{item.name}}</option> -->
          </select>


            </div>

        </div>
    </div>
    <div class="modal-footer">
       <input type="submit" class="btn btn-info" [disabled]="!addannouncement.form.valid" value="Add New Announcement" >
        <button class="btn btn-light" (click)="modal.close()">close</button>
    </div>
  </form>
</ng-template>





<!-- ******** Update Announcement ************ -->

<ng-template #updateAnnouncModel let-modal>
    <div class="modal-header">
        <div style="text-align: center; ">
            <h3>Update Announcement Details</h3>
        </div>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
         <form class="form-group" #updateAnnouncement="ngForm" (ngSubmit)="onSubmitupdateAnnouncement(updateAnnouncement)">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: -2em;">

                    <label class="control-label"> Announcement Title *</label>

                    <input type="text" required class="form-control fm-control" name="u_announc_title" [(ngModel)]="u_announc_title" #pickedUAnnouTitle="ngModel">
                    <p class="alert alert-danger" *ngIf="!pickedUAnnouTitle.valid && pickedUAnnouTitle.touched" style="margin-top:1em; margin-left:0em;">
                        Announcement title is required!
                    </p>

                    <label class="control-label"> Announcement Description *</label>

                    <textarea rows="4" cols="50" required class="form-control fm-control" name="u_announc_desc" [(ngModel)]="u_announc_desc" #pickedUAnnouDesc="ngModel"> </textarea>
                    <p class="alert alert-danger" *ngIf="!pickedUAnnouDesc.valid && pickedUAnnouDesc.touched" style="margin-top:1em; margin-left:0em;">
                        Announcement description required!
                    </p>



                    <label class="control-label" style="margin-bottom: .5em;">Announcement For </label> <span style="margin-left: 1em; color: brown;"><small>*For
                multiple selection click with Ctrl Key</small></span>

                    <select multiple class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="u_announc_for" name="u_announc_for" #pickedStdGender="ngModel">
                       <option [value]="999"> For All Students</option>
                       <option *ngFor="let item of classdataList" [value]="item.class_id"> {{item.class_name}}</option>
                  </select>

            </div>

        </div>
    </div>
    <div class="modal-footer">
       <input type="submit" class="btn btn-info" [disabled]="!updateAnnouncement.form.valid" value="Update Announcement">
        <button class="btn btn-light" (click)="modal.close('Close click')">close</button>
    </div>
    </form>
</ng-template>
