<div class="row">
    <div class="col-lg-12 ">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Employee Attendance Report</h4>
            <form style="margin-top:2em;" class="form-group" #checkAttenReport="ngForm" (ngSubmit)="onSubmitCAttenRep(checkAttenReport)">
            <div class="row">
              
              <div class="col-md-4 form-group">
                <label class="control-label"> Employee Role</label>
                
                <select (change)="onChangeRoleXref()" class="form-control fm-control"  [(ngModel)]="role_xref_id" name="role_xref_id">
                    <option value="" disabled>Employee role</option>
                    <option *ngFor="let item of role_xref_data" [value]="item.role_xref_id">{{ item.role_xref_name }}</option>
                </select>
  
              </div>
  
              <div class="col-md-4 form-group">
                <label class="control-label" style="margin-top:0em;"> Filter by Employee </label>
                <select class="form-control fm-control" required style="margin-top:0em;" #pickedattendanceEmployee [(ngModel)]="employee_id" name="student_id">
                    <option value="all">All</option>
                    <option *ngFor="let item of employeesList" [value]="item.employee_id">{{item.employee_name}}</option>
                </select>
              </div>
  
              <div class="col-md-4 form-group">
                <label class="control-label" style="margin-top:0em;"> Month </label>
                <select class="form-control fm-control" required style="margin-top:0em;" #pickedattendanceMonth [(ngModel)]="attendance_month" name="attendance_month">
                    <option *ngFor="let month of months" [selected]="month.value == attendance_month"  [value]="month.value">
                                  {{month.name}}
                    </option>
  
                </select>
              </div>
  
              
  
              <div class="col-md-12 form-group" style="text-align: center">
                    <input type="submit" class="btn btn-info" [disabled]="!checkAttenReport.form.valid" value="Check Attendance Report">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="showTable">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body">
  
          <div class="mini-heading" style="text-align: center ; margin-top :-2.5em ; margin-bottom:2em;">
            <h3> Attendance Report For </h3>
            <h4> {{selectedMonth}} - {{selectedYear}}</h4>
  
            <h4>
              {{ role_xref_name }}
            </h4>
  
          </div>
  
          <div class="row" style="margin-top: 1em; margin-bottom: 0em; padding-bottom: 1.5em; padding-top: 0em;">
            <div class="col-lg-4">
              <input class="form-control fm-control" [(ngModel)]="searchText" placeholder="EMployee Name">
            </div>
            <div class="col-md-8 form-group text-right">
              <button (click)=prepare_complete_report_print_modal(PrintReportModal,PrintDailyReportModal) [disabled]="!enablePrintButton" type="button" class="btn btn-success"><i class="fa fa-print"></i>&nbsp;&nbsp;Print</button>
            </div>
  
          </div>
             <div class="table-responsive">
          <table class="table table-bordered table-hover tbl_report">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th> Father Name <span class="fa fa-arrow-down"></span> | Date <span class="fa fa-arrow-right">
                  </span>{{index}}</th>
  
                <th *ngFor="let day of daysArray  let index = index">{{day}}</th>
                <th>Total Attendance</th>
                <th>Actions</th>
              </tr>
  
              <tr *ngFor="let employee of attendance_data | filter : searchText">
                <td> {{employee.employee_name}}</td>
                <td> {{employee.father_name}}</td>
                <td *ngFor="let day of daysArray  let indexA = index">
                  <span *ngFor="let attend of employee.attendance">
                    <span *ngIf="attend.day == day" [style.color]="attend.attend_status == 'A' ? 'red' : 'green'">
                      {{attend.attend_status}}
                    </span>
  
                  </span>
  
                </td>
                <td>{{employee.totalattendance}}</td>
                <td><button (click)=prepare_employee_attendance_daily_print_report(employee.employee_id,PrintDailyReportModal) class="badge badge-success" style="cursor: pointer;"><i class="fa fa-print"></i> &nbsp;Print</button></td>
              </tr>
  
            </thead>
            <tbody>
            </tbody>
          </table>
          </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row" *ngIf="showMonthly">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="mini-heading" style="text-align: center ; margin-top :-2.5em ; margin-bottom:2em;">
                    <h3> Attendance Report From </h3>
                    <h4> {{ monthly_time_period }} </h4>

                    <h4>
                        {{role_xref_name}}
                    </h4>

      </div>

                <div class="row" style="margin-top: 1em; margin-bottom: 0em; padding-bottom: 1.5em; padding-top: 0em;">
                    <div class="col-lg-4">
                        <input class="form-control fm-control" [(ngModel)]="searchText" placeholder="Employee Name">
                    </div>
                    <div class="col-md-8 form-group text-right">
                      <button (click)=prepare_complete_report_print_modal(PrintReportModal,PrintDailyReportModal) [disabled]="!enablePrintButton" type="button" class="btn btn-success"><i class="fa fa-print"></i>&nbsp;&nbsp;Print</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover tbl_report">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Father Name </th>

                                <th *ngFor="let previous of previous_months">{{ previous.month_name }}</th>

                                <th>Total Attendance</th>
                                <th>Actions</th>
                            </tr>

                            <tr *ngFor="let employee of attendance_data | filter : searchText">
                                <td>{{ employee.employee_name }}</td>
                                <td>{{ employee.father_name }}</td>
                            
                                <td *ngFor="let previous of previous_months let index = index">{{ show_months_attendance(index,employee.attendance) }}</td>

                                <td>{{ total_days_of_attendance() }}</td>
                                <td><button (click)=prepare_employee_attendance_monthly_print_report(employee.employee_id,PrintReportModal) class="badge badge-success"><i class="fa fa-print"></i>&nbsp;Print</button></td>
                            </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

  <ng-template #PrintDailyReportModal let-modal>
    <div class="modal-header">
      <div style="text-align: center">
        <h4>Print report</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
    <div class="modal-body p-1">
  
        <div class="row">
            <div id="daily_single_employee_report" class="col-sm-10 offset-sm-1">
              <h2 style="text-align:center;padding-top:20px;padding-bottom:4px">{{ school_info.school_name }}</h2>
    <p style="text-align:center;padding-bottom:4px;width:50%;margin:0 auto;"> {{school_info.school_address}} <br> {{school_info.school_num}} <br> support@email.com </p>
    <h2 style="text-align:center;padding-bottom:4px"> {{selectedMonth}} - {{selectedYear}} Attendance</h2>
      <h4 style="width:100%;float: left;">
        {{ role_xref_name }}
      </h4>
  
    <hr style="    margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);width: 100%;float:left;"/>
       
      <div style="width:100%" *ngFor="let single_employee of daily_report_print_data">
  
        <h4 style="width: 33%;float:left;">Name: {{ single_employee.employee_name }}</h4>
        <h4 style="width:33%;float: left;">
         Father Name : {{ single_employee.father_name }}
        </h4>
        <h4 *ngIf="role_xref_id==''" style="width:33%;float: left;">
          Role : {{ get_role_xref_name(single_employee.role_xref_id) }}
        </h4>
        <table style="border: 1px solid #dee2e6;width: 100%;margin-bottom: 1rem;color: #212529;">
         <thead style="text-align: center;">
               <tr>
                         
                 <th style="color: #495057;background-color: #e9ecef;padding: 0.75rem;vertical-align: top;border-bottom: 1px solid #e9ecef;">Date</th>
                 
                 <th style="border-left: 1px solid #e9ecef;color: #495057;background-color: #e9ecef;padding: .75rem;
                 vertical-align: top;border-bottom: 1px solid #e9ecef;">Status</th>
      
               </tr>
             </thead>
             <tbody style="line-height:0.5">
   
               <tr *ngFor="let day of daysArray  let index = index">
                 
                 <td style="border-bottom: 1px solid #dee2e6;padding: .75rem;
                   vertical-align: top;text-align:left;">{{ get_pretty_date(selectedYear,selectedMonth,day) }}</td>
                 
                 <td style="border-bottom: 1px solid #dee2e6;border-left: 1px solid #dee2e6;padding: .75rem;
                   vertical-align: top;text-align:center;">{{ show_daily_attendance_status(day,single_employee) }}</td>
   
               </tr>
               
             </tbody>
           </table>
           <p style="page-break-before: always"></p>
           <hr style="    margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);width: 100%;float:left;"/>
           
      </div>
  
            </div>
        </div>
  
    </div>
    <div class="modal-footer">
      <button (click)="print_daily_single_employee_report()" type="button" class="btn btn-success">Print</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  
  </ng-template>

  <ng-template #PrintReportModal let-modal>
    <div class="modal-header">
      <div style="text-align: center">
        <h4>Print report</h4>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
    <div class="modal-body p-1">
  
        <div class="row">
            <div id="monthly_complete_report" class="col-sm-10 offset-sm-1">
              <h2 style="text-align:center;padding-top:20px;padding-bottom:4px">{{ school_info.school_name }}</h2>
    <p style="text-align:center;padding-bottom:4px;width:50%;margin:0 auto;"> {{school_info.school_address}} <br> {{school_info.school_num}} <br> support@email.com </p>
    <h2 style="text-align:center;padding-bottom:4px">Attendance Report</h2>
    <h6 style="text-align:center;padding-bottom:4px;    margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2;font-size: 1rem;margin-top: 0;">From : <u>{{ monthly_time_period }}</u></h6>
    <hr style="    margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);">
       <table style="border: 1px solid #dee2e6;width: 100%;margin-bottom: 1rem;color: #212529;">
        <thead style="text-align: center;">
              <tr>
                        
                <th style="color: #495057;background-color: #e9ecef;padding: 0.75rem;vertical-align: top;border-bottom: 1px solid #e9ecef;width:20%">Name</th>
                
                <th style="border-left: 1px solid #e9ecef;color: #495057;background-color: #e9ecef;padding: .75rem;
                vertical-align: top;border-bottom: 1px solid #e9ecef;width:20%">Father Name</th>
  
                <th *ngFor="let previous of previous_months" style="border-left: 1px solid #e9ecef;color: #495057;background-color: #e9ecef;padding: .75rem;
                vertical-align: top;border-bottom: 1px solid #e9ecef;width:10%">{{ previous.month_name }}</th>
  
                    <th style="border-left: 1px solid #e9ecef;color: #495057;background-color: #e9ecef;padding: .75rem;
                vertical-align: top;border-bottom: 1px solid #e9ecef;">Total Days</th>
                   
              </tr>
            </thead>
            <tbody style="line-height:0.5">
  
              <tr *ngFor="let employee of monthly_report_print_data | filter : searchText">
  
                <td style="border-bottom: 1px solid #dee2e6;padding: .75rem;
                  vertical-align: top;text-align:center;">{{ employee.employee_name }}</td>
                
                <td style="border-bottom: 1px solid #dee2e6;border-left: 1px solid #dee2e6;padding: .75rem;
                  vertical-align: top;text-align:center;">{{ employee.father_name }}</td>
  
  
                <td *ngFor="let previous of previous_months let index = index" style="border-bottom: 1px solid #dee2e6;border-left: 1px solid #dee2e6;padding: .75rem;
                    vertical-align: top;text-align:center;">{{ show_months_attendance(index,employee.attendance) }}</td>
  
  
  
                <td style="border-bottom: 1px solid #dee2e6;border-left: 1px solid #dee2e6;padding: .75rem;
                  vertical-align: top;text-align:center;">{{ total_days_of_attendance(employee.attendance) }}</td>
  
              </tr>
              
            </tbody>
          </table>
          
  
            </div>
        </div>
  
    </div>
    <div class="modal-footer">
      <button (click)="print_monthly_complete_report()" type="button" class="btn btn-success">Print</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  
  </ng-template>