<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h4 class="card-title">Class Details</h4>
                    </div>

                    <div class="col-lg-3 col-md-3" style="padding-bottom: 1.5em;">
                        <button _ngcontent-c2="" (click)="openNgModal(addClassModal , 'md')" class="btn btn-success btn-block">New Class <i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
					</div>	
					<div class="col-lg-3  col-md-3" style="padding-bottom: 1.5em;">
                        <button _ngcontent-c2="" (click)="openNgModal(viewSubClassModal , 'md')" class="btn btn-success btn-block">Subject Group <i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Class Name</th>
                                <th>Class Numeric Name</th>
                                <th> Sections</th>
                                <th> Subjects</th>
                                <th *ngIf="(admin_level == 1)">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of classData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                                <td>{{item.class_name}}</td>
                                <td>{{item.numeric_name}}</td>
                                <td>
                                    <label class="badge badge-primary" (click)=openAddSectionsModal(addSectionModal,item.class_id,item.class_name) style="cursor: pointer;">Add Section</label>
                                </td>
                                <td>
                                    <label class="badge badge-primary" (click)=openAddSubjectModal(addSubjectModal,item.class_id,item.class_name) style="cursor: pointer;">Add Subject</label>
                                </td>
                                <td *ngIf="(admin_level == 1)">
                                    <label class="badge badge-info" (click)="openEditClassModal(updateClassModal,item.class_id , index)" style="cursor: pointer;">Edit</label>
                                    <label class="badge badge-danger" (click)=deleteClass(item.class_id) style="cursor: pointer; margin-left: 1em;">Delete</label> 
									<label class="badge badge-primary" (click)="openViewClassModal(ViewClassModal,item.class_id , index)" style="cursor: pointer; margin-left: 1em;">View</label>
                                </td>
                            </tr>
                            <tr *ngIf="classData && !classData.length">
                                <td colspan="5">No classes found</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center ; margin-top: 2em;">
                        <form class="pagination-wrapper">
                            <div class="form-group pages">
                                <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                                </pagination-controls>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- add class modal  -->
<ng-template #addClassModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add New</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>

    <form class="form-group" #addclass="ngForm" (ngSubmit)="onSubmitAddClass(addclass)">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label"> Class Name *</label>
                    <span style="color:red;" *ngIf="!pickedCName.valid && pickedCName.touched"><small style="margin-left:1em;">Class Name Required</small></span>
                    <span style="color:red;" *ngIf="classCheckAlert"><small style="margin-left: 1em;"> Class already added..! Add another class.</small></span>
                    <input type="text" required class="form-control fm-control" (keyup)=checkClassAdded(this.c_name) name="c_name" placeholder="Class Name" [(ngModel)]="c_name" #pickedCName="ngModel">
                </div>

				<div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-bottom: .5em;">Subject Group</label>
                    <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="sub_class_id" name="sub_class_id">
						<option [ngValue]="undefined" disabled>Select Subject Group</option>
						<option *ngFor="let item of subClassData" [value]="item.teacher_id">{{item.sub_class_name}}</option>
					</select>
                </div>


                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label">Class Numeric Name</label>
                    <input type="text" class="form-control fm-control" name="numericC_name" placeholder="Numeric Name" ngModel>
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:.5em;"> <small>Default section will be added against class.</small> </label>
                    <input type="hidden" style="margin-top:0em;" class="form-control fm-control" [(ngModel)]="d_section_name" name="d_section_name" placeholder="A" #pickedDSecName="ngModel">
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-bottom: .5em;">Default Section Teacher</label>
                    <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="teacher_id" name="teacher_id">
            <option [ngValue]="undefined" disabled>Select Teacher</option>
						<option *ngFor="let item of teachersList" [value]="item.employee_id">{{item.employee_name}}</option>
          </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="!addclass.form.valid || classCheckAlert" value="Add class">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>

<!-- add sub class modal  -->
<ng-template #viewSubClassModal let-modal>
    <div class="modal-header">
        <div  class="col-lg-5 col-md-5 " style="text-align: left">
            <h4>View Subject Group </h4>
        </div>
		<div class="col-lg-6 col-md-6 " style="text-align: right">
			<button _ngcontent-c2="" (click)="openNgModal(addSubClassModal , 'md')" class="btn btn-success btn-block">Add Subject Group<i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
		</div>
		<div class="col-lg-1 col-md-1 " style="text-align: right">		
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
		</div>
    </div>
	<div class="row" style="margin:0">
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th>Subject Group</th>
						<th *ngIf="(admin_level == 1)">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of subClassData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
						<td>{{item.sub_class_name}}</td>
						<td *ngIf="(admin_level == 1)">
							<label class="badge badge-info" (click)="openEditSubClassModal(updateSubClassModal,item.sub_class_id , index)" style="cursor: pointer;">Edit</label>
							<label class="badge badge-danger" (click)=deleteSubClassGroup(item.sub_class_id) style="cursor: pointer; margin-left: 1em;">Delete SubClass</label> 
						</td>
					</tr>
				</tbody>
			</table>
			<div style="text-align: center ; margin-top: 2em;">
				<form class="pagination-wrapper">
					<div class="form-group pages">
						<pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
						</pagination-controls>
					</div>

				</form>
			</div>
		</div>
	</div>

</ng-template>

<!-- add sub class modal  -->
<ng-template #addSubClassModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add Subject Group</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
	<form class="form-group" #addsubclass="ngForm" (ngSubmit)="onSubmitAddSubClass(addsubclass)">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label"> Subject Group *</label>
                    <span style="color:red;" *ngIf="!pickedCName.valid && pickedCName.touched"><small style="margin-left:1em;">Subject Group Required</small></span>
                    <input type="text" required class="form-control fm-control" name="c_name" placeholder="Sub Class / Group Name" [(ngModel)]="c_name" #pickedCName="ngModel">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="!addsubclass.form.valid || classCheckAlert" value="Add Sub Class/ Group">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>

<!-- Update Parent  -->
<ng-template #updateSubClassModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Update Subject Group Details</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <form class="form-group" #updatesubclass="ngForm" (ngSubmit)="onSubmitUpdateSubClass(updatesubclass)">
        <div class="modal-body">

            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label"> Subject Group *</label>
                    <input type="text" class="form-control fm-control" name="sub_class_name" placeholder="Sub Class Name" [(ngModel)]="sub_class_name">
                    <input type="hidden" class="form-control fm-control" name="sub_class_id" [(ngModel)]="sub_class_id">
                </div>              
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" value="Update Sub Class">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>

<!-- Update Parent  -->
<ng-template #updateClassModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Update Class Details</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <form class="form-group" #updateclass="ngForm" (ngSubmit)="onSubmitUpdateClass(updateclass)">
        <div class="modal-body">

            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label"> Class Name *</label>
                    <input type="text" class="form-control fm-control" name="class_name" placeholder="Class Name" [(ngModel)]="class_name">
                    <input type="hidden" class="form-control fm-control" name="class_id" [(ngModel)]="class_id">
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label">Class Numeric Name</label>
                    <input type="text" [(ngModel)]="numeric_name" class="form-control fm-control" name="numeric_name" placeholder="Numeric Name" ngModel>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" value="Update class">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>


<!-- View Class info  -->
<ng-template #ViewClassModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Class Details</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
        <div class="modal-body pt-4 pb-4">
            <div class="row">
				<div class="col-md-12">
				  <label class="control-label"> <b>Class Name:</b> {{ class_name }}
				  </label>
				</div>
				<div class="col-md-12">
				  <label class="control-label"> <b>Class Numeric Name:</b> {{ numeric_name }}
				  </label>
				</div>
                
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-4 offset-md-2"><strong>Sections</strong></div>
                        <div class="col-6"><strong>Subjects</strong></div>
                    </div>
                    <div class="row" *ngIf="class_details && class_details.length">
                        <div class="col-6 col-sm-6 col-md-4 offset-md-2" >
                            <div class="row">
                                <div class="col-12" *ngFor="let item of class_details">
                                {{ item.section_name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12" *ngFor="let subject of class_details[0].subjects">
                                    {{ subject.subject_name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <div class="row" *ngFor="let item of class_details">
                        <div class="col-12 border-bottom mt-2">
                            <h4 (click)="section_collapse_toggle_clicked($event)" [attr.section_id]="item.section_id" style="cursor:pointer" data-toggle="collapse" [attr.data-target]="'#section_'+item.section_id" class="font-weight-medium text-info">
                                Section {{ item.section_name }}
                                <i (click)="section_collapse_toggle_clicked($event)" [attr.section_id]="item.section_id" [ngClass]="collapsed_sections.indexOf(item.section_id)>-1 ? 'pull-right fa fa-arrow-down' : 'pull-right fa fa-arrow-up'"></i>
                            </h4>
                        </div>
                        <div class="col-12 collapse show mt-2" [id]="'section_'+item.section_id">
                            <!-- <h5 class="font-weight-medium text-info mt-2">Subjects</h5> -->
                            <div class="col-12" *ngFor="let subject of item.subjects;let i = index">
                                <div *ngIf="i==0" class="row border-bottom">
                                    <div class="col-8 font-weight-bold">Subject</div>
                                    <div class="col-4 text-right font-weight-bold">Type</div>
                                </div>
                                <div class="row">
                                    <div class="col-8">{{ subject.subject_name }}</div>
                                    <div class="col-4 text-right">{{ subject.subject_type==1 ? 'Core' : 'Elective' }}</div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
</ng-template>

<!-- Add Section   -->
<ng-template #addSectionModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add Sections</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form class="form-group" #addsection="ngForm" (ngSubmit)="onSubmitAddSection(addsection)">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:.5em;">Class </label>
                    <input type="text" disabled style="margin-top:0em;" required class="form-control fm-control" name="selected_class_name" [(ngModel)]="selected_class_name">
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:.5em;">Section Name </label>
                    <span style="color:red;" *ngIf="!pickedSecName.valid && pickedSecName.touched"><small style="margin-left:1em;">Section Name Required</small> </span>
                    <span style="color:red;" *ngIf="sectionCheckAlert"><small style="margin-left: 1em;"> Section already registred against class.</small> </span>
                    <input type="text" style="margin-top:0em;" required class="form-control fm-control" [(ngModel)]="section_name" name="section_name" placeholder="Section Name" #pickedSecName="ngModel">
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label">Teacher</label>
                    <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="teacher_id" name="teacher_id">
            <option [ngValue]="undefined" disabled>Select Teacher</option>
						<option *ngFor="let item of teachersList" [value]="item.employee_id">{{item.employee_name}}</option>
          </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="!addsection.form.valid " value="Add Section">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>

<!-- Add Subject  -->
<ng-template #addSubjectModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add Subjects </h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form class="form-group" #addSubject="ngForm" (ngSubmit)="onSubmitAddSubj(addSubject)">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:1em;">Class </label>
                    <input type="text" disabled style="margin-top:0em;" required class="form-control fm-control" name="selected_class_name" [(ngModel)]="selected_class_name">
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:1em;">Section *</label>
                    <select class="form-control fm-control" required style="margin-top:0em;" [(ngModel)]="sub_section_id" #selectedSection (change)=sectionSelected(selectedSection.value); name="sub_section_id">
            <option [ngValue]="undefined" disabled>Select Section</option>
            <option *ngFor="let item of sectionData" [value]="item.section_id">{{item.section_name}}</option>
          </select>
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:1em;">Teacher</label>
                    <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="sub_teacher_id" name="sub_teacher_id">
            <option [ngValue]="undefined" disabled>Select Teacher </option>
						<option *ngFor="let item of teachersList" [value]="item.employee_id">{{item.employee_name}}</option>
          </select>
                </div>
                <div class="col-lg-12 col-md-12 ">

                    <label class="control-label" style="margin-top:1em;">Subject Name *</label>
                    <span style="color:red;" *ngIf="subjectCheckAlert"><small style="margin-left: 1em;"> Subject already registred against class.</small> </span>
                    <input type="text" style="margin-top:0em;" required class="form-control fm-control" name="subject_name" #subjName (keyup)="checkSubject(subjName.value)" placeholder="Subject Name" ngModel>
                </div>

                <div class="ccol-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:1em;">Subject Type *</label>
                    <select class="form-control fm-control" required style="margin-top:0em;" [(ngModel)]="subject_type" name="subject_type">
            <option [ngValue]="undefined" disabled>Select Type </option>
            <option [value]="1">Core</option>
            <option [value]="2">Elective</option>
          </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="!addSubject.form.valid || disableBtn" value="Add Subject">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>