<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <div class="row">
          
          <div class="col-6 pl-0">
              <h4 class="card-title">Suggestions</h4>
          </div>
        </div>
        <!-- below is old design for showing Expenses -->

        <div class="row">
            <div class="table-responsive" style="overflow-x: hidden;">
                <div class="row">
                    
                  <div class="col-lg-12 col-md-12 col-sm-12">
                         
                    <table id="expense_category_heads_table" class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>Date</th>
                          <th>Parent Name</th>
                          <th>Parent Phone</th>
                          <th style="width: 25%;">Suggestion Text</th>
                        </tr>
                        </thead>
                        <tbody>
                              <tr *ngFor="let item of suggestions_list;let index = index">
                                  <td>{{ show_pretty_date(item.created_at) }}</td>
                                  <td>{{ show_parent_detail(item.primary_parent_type,item.parent_name,item.mother_name,item.guardian_name) }}</td>
                                  <td>{{ show_parent_detail(item.primary_parent_type,item.parent_phoneNum,item.mother_phoneNum,item.guardian_phoneNum) }}</td>
                                  <td [innerHTML]=show_suggestion_text(item.suggestion_text)></td>
                              </tr>
                              <tr *ngIf="!suggestions_list.length">
                                <td colspan="4">No suggestions added yet</td>
                              </tr>
                        </tbody>
                      </table>
                      
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>