<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <div class="row">
          
          <div class="col-6 pl-0">
              <h4 class="card-title">Add Expense / Income</h4>
          </div>
          <div class="col-6 pr-0 text-right">
              <button class="btn btn-success" (click)=OpenAddExpense(addExpenseModel)>+ Add Expense / income</button>
          </div>
        </div>
        <!-- below is old design for showing Expenses -->

        <div class="row">
            <div class="table-responsive" style="overflow-x: hidden;">
                <div class="row">
                    
                  <div class="col-lg-12 col-md-12 col-sm-12">
                         
                    <table id="expense_category_heads_table" class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>Date</th>
                          <th>Category</th>
                          <th>Expense / Income Title</th>
                          <th>Type</th>
                          <th style="width: 25%;">Description</th>
                          <th>Amount</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                              <tr
                                *ngFor="let item of expenses;let index = index">
                                <td>{{ pretty_date(item.expense_date) }}</td>
                                <td>{{item.expense_category_name}}</td>
                                <td>{{item.head_name}}</td>
                                <td>{{ show_expense_category_type_xref_name(item.expense_category_type_xref_id) }}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.expense_amount}}</td>
                                <td>
                                  <button [disabled]="processing_request" (click)="prepare_edit_expense_modal(addExpenseModel,index)" class="btn btn-success btn-xs">Edit</button>
                                  <button [disabled]="processing_request" (click)="delete_expense(item.expense_id)" class="btn btn-danger btn-xs ml-1">Delete</button>
                                </td>
                              </tr>
                              <tr *ngIf="no_expenses_for_specified_period" style="color: red;">
                                <td colspan="6">
                                    No expenses found for given time period
                                </td>
                              </tr>
                        </tbody>
                        
                          
                      </table>
                      
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addExpenseModel let-modal>
  <div class="modal-header">
    <div style="text-align: center">
      <h3>{{ add_edit_expense_modal_title }}</h3>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
     <form class="form-group" #addexpense="ngForm" (ngSubmit)="expense_id ? edit_Expense(addexpense) : add_newExpense(addexpense)">
  <div class="modal-body">

      <div class="row">
        
        <label class="control-label"> Expense / Income Category *</label>
        <select required="" class="form-control fm-control" name="expense_category_id" [(ngModel)]="expense_category_id" (change)=get_expense_heads_from_category($event.target.value)>
          <option [ngValue]="undefined" disabled>Select Expense / Income Category</option>
          <option *ngFor="let category of expense_categories" [value]="category.id">
            {{category.expense_category_name}}
          </option>
        </select>
        
        <label class="control-label"> Expense / Income Head *</label>

        <select required="" class="form-control fm-control" name="expense_head_id" [(ngModel)]="expense_head_id">
            <option [ngValue]="undefined" disabled>Select Expense / Income Head</option>
            <option *ngFor="let head of expense_heads" [value]="head.expenses_head_id">
              {{head.head_name}}
            </option>
          </select>

        <label class="control-label">Expense / Income Date * </label>
        <input type="date" required class="form-control fm-control" name="expense_date" [(ngModel)]="expense_date"
          #pickedExpenseDate="ngModel">
        <p class="alert alert-danger" *ngIf="!pickedExpenseDate.valid && pickedExpenseDate.touched"
          style="margin-top:1em; margin-left:0em;width: 100%;padding: .15rem 1.25rem;">
          Expense / Income Date is required!
        </p>
        <label class="control-label">Expense / Income Amount * </label>
        <input placeholder="Enter amount" type="number" required class="form-control fm-control" name="expense_amount" [(ngModel)]="expense_amount"
          #pickedExpenseAmount="ngModel">
        <p class="alert alert-danger" *ngIf="!pickedExpenseAmount.valid && pickedExpenseAmount.touched"
          style="margin-top:1em; margin-left:0em;width: 100%;padding: .15rem 1.25rem;">
          Expense / Income Amount is required!
        </p>
      </div>

  </div>
  <div class="modal-footer">
   <input type="submit" class="btn btn-info" [disabled]="!addexpense.form.valid || processing_request" [value]="add_edit_expense_modal_button">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
    </form>
</ng-template>