<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <h4 class="card-title">Section Details</h4>
                    </div>
                    <div class="col-lg-3  " style="padding-bottom: 1.5em;">
                        <button _ngcontent-c2="" (click)="openNgModal(addSectionModal , 'md')" class="btn btn-success btn-block">New Section<i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
                    </div>
                </div>
                <div class="table-responsive" style="overflow-x: hidden;">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="list-group" style="padding-top: 0px; width: -webkit-fill-available;">
                                <p class="list-group-item mini-sidebar">
                                    <i class="fa fa-university"></i>
                                    <span> Select Class</span>
                                </p>
                                <a *ngFor="let item of classData ; let i = index;" style="cursor:pointer;" class="list-group-item" [style.background-color]="item.BackgroundColour" [style.color]="item.color" (click)="onClickSideBar(item.class_id , item)">
                                    <span>{{item.class_name}}</span>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-9 col-md-9" *ngIf="!showtable">
                            <h3 style="text-align:center"> Select Class</h3>
                        </div> -->
                        <div class="col-lg-9 col-md-9">
                            <div class="mini-heading" style="text-align:center ; margin-bottom:1em;">
                                <h3 *ngIf="showtable"> {{selectedClassName}} Section Details</h3>
                                <h3 style="text-align:center" *ngIf="!showtable"> Select Class</h3>
                            </div>
                            <div style="margin-left: -0.8em;">
                                <div class="col-md-4 form-group" *ngIf="showtable">
                                    <label class="control-label"> Section Filter</label>
                                    <select class="form-control fm-control" (change)=getSelectedSectionDetails(pickedSection.value); required style="margin-top:0em;" #pickedSection [(ngModel)]="section_id" name="classid">
                                      <option value="all" selected>All Sections </option>
                                      <option *ngFor="let section of sectionOptions ; let index = index" [value]="index">
                                        {{ section.section_name}}
                                      </option>
                                    </select>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Section </th>
                                        <!--<th>Class </th>-->
                                        <th>Teacher </th>
                                        <th *ngIf="(admin_level == 1)">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of arrayname | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                                        <td>{{item.section_name}}</td>
                                        <td>{{item.teacher_name}}</td>
                                        <td *ngIf="(admin_level == 1)">
                                            <label class="badge badge-info" (click)=openEditSectionModal(updateSectionModal,item.section_id,item.class_id) style="cursor: pointer;">Edit</label>
                                            <label class="badge badge-danger" (click)=deleteSection(item.section_id,item.class_id) style="cursor: pointer; margin-left: 1em;">Delete </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="text-align: center ; margin-top: 2em;">
                        <form class="pagination-wrapper">
                            <div class="form-group pages">
                                <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                                </pagination-controls>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add class modal  -->
<ng-template #addSectionModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add New</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form class="form-group" #addsection="ngForm" (ngSubmit)="onSubmitAddSection(addsection)">
        <div class="modal-body">

            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label"> Select Class * </label>
                    <select class="form-control fm-control" style="margin-top:0em;" #selectedClass [(ngModel)]="class_id" (change)=classRequired(selectedClass.value); name="class_id" id="class_id">
            <option [ngValue]="undefined" disabled>Select Class</option>
            <option *ngFor="let item of classData" [value]="item.class_id">{{item.class_name}}</option>
          </select>
                </div>
                <div class="col-lg-12 col-md-12 ">

                    <label class="control-label" style="margin-top:.5em;">Section Name </label>
                    <span style="color:red;" *ngIf="!pickedSecName.valid && pickedSecName.touched"><small
              style="margin-left:1em;">
              Section Name Required</small> </span>
                    <span style="color:red;" *ngIf="sectionCheckAlert"><small style="margin-left: 1em;"> Section already
              registred against class.</small> </span>

                    <input type="text" style="margin-top:0em;" required class="form-control fm-control" [(ngModel)]="section_name" name="section_name" placeholder="Section Name" #pickedSecName="ngModel">
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label">Teacher</label>
                    <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="teacher_id" name="teacher_id">
						<option [ngValue]="undefined" disabled>Select Teacher</option>
						<option *ngFor="let item of teachersData" [value]="item.employee_id">{{item.employee_name}}</option>
					  </select>
                </div>
            </div>
		</div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="!addsection.form.valid ||!disableButton" value="Add Section">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>

<!-- Update Parent  -->
<ng-template #updateSectionModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Update Class Details</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form class="form-group" #updateSection="ngForm" (ngSubmit)="onSubmitUpdateSection(updateSection)">
        <div class="modal-body">

            <div class="row">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label"> Class </label>
                    <input type="text" style="margin-top:0em;" required class="form-control fm-control" [(ngModel)]="c_name" name="c_name" [disabled]="true">
                </div>
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label" style="margin-top:.5em;">Section</label>
                    <input type="text" style="margin-top:0em;" class="form-control fm-control" [(ngModel)]="sec_name" name="sec_name" [disabled]="true" placeholder="Section Name" #pickedSeName="ngModel">
                </div>
                <input type="hidden" name="c_id" [(ngModel)]="c_id">
                <input type="hidden" name="sec_id" [(ngModel)]="sec_id">
                <div class="col-lg-12 col-md-12 ">
                    <label class="control-label">Teacher</label>
                    <select class="form-control fm-control" style="margin-top:0em;" [(ngModel)]="tech_id" (change)="activeUpdatebtn()" name="tech_id">
            <option [ngValue]="undefined" disabled>Select</option>
            <option *ngFor="let item of teachersData" [value]="item.employee_id">{{item.employee_name}}</option>
          </select>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="updateButtonDisable" value="Update Section">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>