<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Exam Details</h4>

                <div class="row" style="margin-top: 1em; margin-bottom: 0em; padding-bottom: 1em; padding-top: 1em;">
                    <div class="col-lg-4  ">
                        <input class="form-control fm-control" [(ngModel)]="searchText" placeholder="Exam Name / Exam Type">
                    </div>

                    <div class="col-lg-6  ">

                    </div>

                    <div class="col-lg-2 pull-right " style="padding-bottom: 1.5em;">

                        <button _ngcontent-c2="" (click)=" openNgModal(addExamModel, 'md')" class="btn btn-success btn-block">New
              Exam
              <i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
                    </div>
                    <div class="col-lg-12 col-md-12" style="text-align: center">
                        <h5 style="color: red;"> {{dbRespMsg}}</h5>
                    </div>
                </div>

                <div class="table-responsive" *ngIf="showtable">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Exam Name</th>
                                <th>Grading Method</th>
                                <!-- <th>Exam Total Marks</th> -->
                                <!-- <th>Exam Date</th> -->
                                <!-- <th>Comment</th> -->
                                <th *ngIf="(admin_level == 1)">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of examsDataList | examfilter: searchText  | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                                <td>{{item.exam_name}}</td>
                                <td>{{item.grading_method == 1 ? 'Percent Gradding' : 'Letter Grading'}}</td>
                                <!-- <td>{{item.exam_tmarks}}</td> -->
                                <!-- <td>{{item.exam_date * 1000 | date}}</td> -->
                                <!-- <td>{{item.exam_comment}}</td> -->

                                <td *ngIf="(admin_level == 1)">

                                    <label class="badge badge-info" (click)=openUpdateExamModal(updateExamModel,item.exam_id) style="cursor: pointer;">Edit</label>
                                    <label class="badge badge-danger" (click)=onClickDelExam(item.exam_id) style="cursor: pointer; margin-left: 1em;">Delete
                  </label>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- *********************************** Modals **************************************** -->

<!-- ******** Add exam ************ -->

<ng-template #addExamModel let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add Exams</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <!-- <form class="form-group" #addexam="ngForm" (ngSubmit)="onClickAddExam(addexam)"> -->
    <form class="form-group" [formGroup]="profileForm" (ngSubmit)="onSubmitAddExam()">
        <div class="modal-body">

            <label class="control-label"> Select Number Of Exams *</label>

            <select class="form-control fm-control" style="margin-top:0em;" required (change)="SetNumberOfExams(pickedNumberOfExams.value)" #pickedNumberOfExams formControlName="examNumber">

        <option value='1'> 1 </option>
        <option value='2'> 2</option>
        <option value='3'> 3 </option>
        <option value='4'> 4 </option>
        <option value='5'> 5 </option>
        <option value='6'> 6 </option>
        <option value='7'> 7 </option>
        <option value='8'> 8 </option>
        <option value='9'> 9 </option>
        <option value='10'> 10 </option>

      </select>

            <div formArrayName="exams" style="margin-top:0.5em" *ngIf="showLabel">
                <label class="control-label"> Exam Name *</label>
                <div *ngFor="let exam of exams.controls; let i=index">

                    <input type="text" placeholder="Exam Name" required class="form-control fm-control" [formControlName]="i" style="margin-top:0.5em; margin-bottom:0.5em;">

                </div>
            </div>
            <div *ngIf="showLabel">
                <label class="control-label"> Grading Systems *</label>

                <select class="form-control fm-control" required style="margin-top:0em;" formControlName="grading_system">

          <option value='1'> Percentage Grading </option>
          <option value='2'> Letter Grading </option>
        </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info" [disabled]="!profileForm.valid">Submit</button>
            <button type="button" class="btn btn-light" (click)="closeModal()">Close</button>
        </div>
    </form>

</ng-template>

<!-- ******** Update exam ************ -->

<ng-template #updateExamModel let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add Exam</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form class="form-group" #updateExam="ngForm" (ngSubmit)="onClickUpdateExam(updateExam)">
        <div class="modal-body">

            <label class="control-label"> Exam Name</label>

            <input type="text" required class="form-control fm-control" name="examName" placeholder="Exam Name" [(ngModel)]="examName" #pickedEUName="ngModel">
            <p class="alert alert-danger" *ngIf="!pickedEUName.valid && pickedEUName.touched" style="margin-top:1em; margin-left:0em;">
                Exam name is required!
            </p>

            <label class="control-label">Exam Date</label>
            <input type="date" class="form-control fm-control" name="examDate" [(ngModel)]="examDate" #pickedEUDate="ngModel">


            <label class="control-label"> Grading Systems *</label>
            <span style="color:red; margin-left: 1em;" *ngIf="!pickedGradingSystems.valid && pickedGradingSystems.touched"><small>Grading Systems
          Required</small></span>
            <select class="form-control fm-control" style="margin-top:0em;" #pickedGradingSystems [(ngModel)]="ugrading_system" name="ugrading_system">

        <option value='1' [selected]="ugrading_system == 1"> Percentage Grading </option>
        <option value='2' [selected]="ugrading_system == 2"> Letter Grading </option>
      </select>

            <!-- <label class="control-label"> Exam Total Marks</label>

            <input type="text" required class="form-control fm-control" name="examTMarks" placeholder="Exam Total Marks" [(ngModel)]="examTMarks" #pickedexamTMarks="ngModel">
            <p class="alert alert-danger" *ngIf="!pickedexamTMarks.valid && pickedexamTMarks.touched" style="margin-top:1em; margin-left:0em;">
                Exam Total Marks required!
            </p> -->

            <!-- <label class="control-label" style="margin-bottom: .5em;">Comment</label>
            <input type="text" class="form-control fm-control" name="examComment" placeholder="Comment" [(ngModel)]="examComment"> -->

            <div class="modal_button" style="text-align:right">
                <input type="hidden" class="form-control fm-control" name="examId" placeholder="Comment" [(ngModel)]="examId">
            </div>

        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" [disabled]="!updateExam.form.valid" value="Update Exam">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form>
</ng-template>
