<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Details</h4>


                <div class="row" style="padding-bottom: 1em; margin-top:-2em">


                    <div class="col-lg-10 ">

                    </div>

                    <div class="col-lg-2 pull-right ">

                        <button _ngcontent-c2="" (click)="openNgModal(addUserModal , 'lg')" class="btn btn-success btn-block">New
              User
              <i _ngcontent-c2="" class="mdi mdi-plus"></i></button>
                    </div>
                    <div style="text-align: center;">

                    </div>

                </div>


                <div class="table-responsive">

                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th># </th>
                                <!-- <th>Admin</th> -->
                                <th> Name </th>
                                <th>Email </th>
                                <th>Phone </th>
                                <th>Status </th>
                                <th>Role </th>

                                <th *ngIf="(admin_level == 1)">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of usersData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
                                <td>{{index + 1}}</td>
                                <!-- <td> <img src="{{item.thumb_path == '' || NULL ? imagePath : item.thumb_path }}"
                            class="rounded-circle dropdown-toggle" width="30px" data-toggle="dropdown" alt="avatar"
                            style=" border-radius: 50%;"> -->

                                <!-- <img [src]="item.thumb_path == "" || null ? 'avatar' : item.thumb_path" height="200" /> -->

                                <!-- </td> -->
                                <td>{{item.user_name}}</td>
                                <td>{{item.user_email}}</td>
                                <td>{{ item.phone_num}}</td>
                                <td>{{ item.status == '1' ? 'Active' : 'Inactive'}}</td>
                                <td>{{ item.user_level == '1' ? 'Super Admin' : (item.user_level == '2' ? 'Admin' : 'Staff')}}</td>

                                <td *ngIf="(admin_level == 1)">

                                    <label class="badge badge-info" (click)=openEditUserModal(updateUserModal,index) style="cursor: pointer;">Edit</label>
                                    <label *ngIf="(item.user_level != 1)" class="badge badge-danger" (click)=deleteUser(item.login_id) style="cursor: pointer; margin-left: 1em;">Delete</label>



                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="text-align: center ; margin-top: 2em;">
                        <form class="pagination-wrapper">
                            <div class="form-group pages">
                                <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                                </pagination-controls>
                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>


<!-- add user modal  -->


<ng-template #addUserModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Add New User</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
     <form class="form-group" #adduser="ngForm" (ngSubmit)="onSubmitAddUser(adduser)">
    <div class="modal-body">

            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:0em;">Name * <span style="color:red;"
              *ngIf="!pickedUname.valid && pickedUname.touched"><small>
                User Name Required</small> </span></label>
                    <input type="text" required style="margin-top:0em;" class="form-control fm-control" name="u_name" placeholder="Name" [(ngModel)]="u_name" #pickedUname="ngModel">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:0em;"> Email * <span style="color:red;"
              *ngIf="!pickedUemail.valid && pickedUemail.touched"><small>
                Email Required</small> </span></label>
                    <input type="email" required style="margin-top:0em;" class="form-control fm-control" name="u_email" placeholder=" Email" [(ngModel)]="u_email" #pickedUemail="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:0em;">Password * <small>
            </small> <span style="color:red;" *ngIf="!pickedpassw.valid && pickedpassw.touched"><small>
                Password Required</small>
            </span></label>
                    <input type="password" #pass style="margin-top:0em;" class="form-control fm-control" required name="u_password" placeholder="Password" [(ngModel)]="u_password" #pickedpassw="ngModel">
                </div>


                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:0em;">Confirm Password * <small>
            </small> <span style="color:red;" *ngIf="!pickedCpassw.valid && pickedCpassw.touched"><small>
                Confirm Password Required</small> </span> <span style="color:red;" *ngIf="confirmPassCheck"><small>
                Not Matching</small>
            </span>
            <span style="color:green;" *ngIf="confirmPassMatch"><small>
                Password Matching</small>
            </span>
          </label>
                    <input type="password" #confirmPass (keyup)="checkConfirmPass(confirmPass.value,pass.value)" style="
                    margin-top:0em;" class="form-control fm-control" required name="c_password" placeholder="Confirm Password" [(ngModel)]="c_password" #pickedCpassw="ngModel">
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:0em;">Phone Number <span style="color:red;"
              *ngIf="!pickedPphoneNum.valid && pickedPphoneNum.touched"><small>
                PhoneNumber Required</small>
            </span></label>
                    <input type="number" style="margin-top:0em;" required class="form-control fm-control" name="u_phoneNum" placeholder="Phone Number" [(ngModel)]="u_phoneNum" #pickedPphoneNum="ngModel">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:0em;">User Role * </label>
                    <span style="color:red;" *ngIf="!pickedRoll.valid && pickedRoll.touched"><small>
              Role Required</small>
          </span>
                    <select class="form-control fm-control" required #pickedRoll="ngModel" style="margin-top:0em;" [(ngModel)]="u_role" name="u_role">
            <option [ngValue]="undefined" disabled>Select Role</option>
            <option value="1">Super Admin</option>
            <option value="2">Admin</option>
            <option value="3">Staff</option>
          </select>
                </div>
                <div class="col-md-4 form-group">
                    <!-- <label class="control-label" style="margin-top:0em;">Image </label> -->
                    <input id="admin_image" style="margin-top:0em;" #imageFile accept="image/*" name="admin_image" type="hidden" (change)="fileChangeEvent($event)" class="form-control fm-control" placeholder="Upload a picture..." />
                </div>

            </div>


    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-info"  [disabled]="!adduser.form.valid || disableBtn" value="Add New User">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
    </form>
</ng-template>





<!-- Update Parent  -->




<ng-template #updateUserModal let-modal>
    <div class="modal-header">
        <div style="text-align: center">
            <h3>Update User Info</h3>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
     <form class="form-group" #updateuser="ngForm" (ngSubmit)="onSubmitUpdateUser(updateuser)">
    <div class="modal-body">

            <div class="row">
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;">Name * <span style="color:red;"
              *ngIf="!pickedUnameU.valid && pickedUnameU.touched"><small>
                User Name Required</small> </span></label>
                    <input type="text" required style="margin-top:0em;" class="form-control fm-control" name="u_nameU" placeholder="Name" [(ngModel)]="u_nameU" #pickedUnameU="ngModel">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:.5em;"> Email * <span style="color:red;"
              *ngIf="!pickedUemailU.valid && pickedUemailU.touched"><small>
                Email Required</small> </span></label>
                    <input type="email" required style="margin-top:0em;" class="form-control fm-control" name="u_emailU" placeholder=" Email" [(ngModel)]="u_emailU" #pickedUemailU="ngModel">
                </div>



                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:1em;">Phone Number <span style="color:red;"
              *ngIf="!pickedPphoneNumU.valid && pickedPphoneNumU.touched"><small>
                PhoneNumber Required</small>
            </span></label>
                    <input type="number" style="margin-top:0em;" required class="form-control fm-control" name="u_phoneNumU" placeholder="Phone Number" [(ngModel)]="u_phoneNumU" #pickedPphoneNumU="ngModel">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:1em;">User Role * </label>
                    <span style="color:red;" *ngIf="!pickedRollU.valid && pickedRollU.touched"><small>
              Role Required</small>
          </span>
                    <select class="form-control fm-control" required #pickedRollU="ngModel" style="margin-top:0em;" [(ngModel)]="u_roleU" name="u_roleU">
            <option [ngValue]="undefined" disabled>Select Role</option>
            <option value="1">Super Admin</option>
            <option value="2">Admin</option>
            <option value="3">Staff</option>
          </select>
                </div>

                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:1em;">User Status * </label>
                    <span style="color:red;" *ngIf="!pickedstatusU.valid && pickedstatusU.touched"><small>
              Status Required</small>
          </span>
                    <select class="form-control fm-control" required #pickedstatusU="ngModel" style="margin-top:0em;" [(ngModel)]="u_status" name="u_status">
            <option [ngValue]="undefined" disabled>Select Status</option>
            <option value="1">Active</option>
            <option value="2">Inactive</option>

          </select>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label" style="margin-top:1em;">Password <small>
            </small> <span style="color:red;" *ngIf="!pickedUpassw.valid && pickedUpassw.touched"><small>
                Password Required</small>
            </span></label>
                    <input type="password" #passU style="margin-top:0em;" class="form-control fm-control" name="u_passwordU" placeholder="Password" [(ngModel)]="u_passwordU" #pickedUpassw="ngModel">
                </div>


                <input type="hidden" style="margin-top:0em;" class="form-control fm-control" name="login_id" [(ngModel)]="login_id">

            </div>


    </div>
    <div class="modal-footer">
       <input type="submit" class="btn btn-info"  [disabled]="!updateuser.form.valid || disableBtn" value="Update User">

        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
      </form>
</ng-template>
