<div class="row" style="background-color:#f2f8f9; height:100vh">
    <div class="col-lg-4 col-md-4 grid-margin" style="margin:auto;">
        <div class="card">
            <div class="card-body">
                
                <div class="row">
                    <div class="col-12 text-center">
                        <img *ngIf="school_info.logo!='' && school_info.logo!=null" src="{{ school_info.logo }}" style="width:5rem;" alt="">
                    </div>
                </div>

                
                <h3 class="card-title mt-1" style="font-size: 25px; text-align: center">{{ school_info.school_name }}</h3>
                
                <p class="card-description text-danger" *ngIf="loginNoti">
                    {{errorMesage}}
                </p>
                <form class="forms-sample" #login="ngForm" (ngSubmit)="onLoginSubmit(login.value)">
                    <div class="form-group">
                        <label for="exampleInputEmail1"> <span class="input-group-addon addon-left" id="Email">
                <i class="fa fa-user fa-fw"></i>
              </span> Email Address</label> <span style="color:red;" *ngIf="!pickedName.valid && pickedName.touched"><small> Email is required!</small>
            </span>
                        <input class="form-control with-primary-addon" placeholder="Enter Email" name="email" required type="email" [(ngModel)]="email" #pickedName="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"> <i class="fa fa-lock fa-fw"></i> Password </label>
                        <span style="color:red;" *ngIf="!pickedPassword.valid && pickedPassword.touched"><small> Password is
                required!</small> </span>
                        <input class="form-control with-primary-addon" placeholder="Password" name="password" type="password" required [(ngModel)]="password" #pickedPassword="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="exampleLoginAs"> <i class="fa fa-user fa-fw"></i> Login As </label>
                        <span style="color:red;" *ngIf="!pickedLoginAs.valid && pickedLoginAs.touched"><small> Login As is
                required!</small> </span>
                        <select name="login_as" id="login_as" class="fm-control form-control" required [(ngModel)]="login_as" #pickedLoginAs="ngModel">
                            <option value="">Select</option>
                            <option value="-1">Admin</option>
                            <option value="1">Teacher</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success mr-2" [disabled]="!login.form.valid || disableBtn">Login →</button>

                    <!-- <a style="cursor:pointer;text-decoration:underline;" class="pull-right mt-1 text-primary" (click)="forgetPassword()">Forget Password</a> -->

                </form>
                <ng4-loading-spinner> </ng4-loading-spinner>
            </div>

        </div>
    </div>
</div>
