<style>
    .nav-tabs .nav-item .nav-link {
        padding: 13px 16px;
    }
	.card .card-body{padding:1rem 1rem !important;}
	
	
</style>
<div class="row">
    <div class=" grid-margin stretch-card col-lg-12">
        <div class="card">
            <div class="card-body">
				<div class="col-lg-12">
					<h4 class="card-title text-center">Manage Student Payments for : <b>{{selected_class_name}}</b></h4>
					<h4 class="card-title text-center">Due Date : <b>{{dueDate}}-{{feemonth}}-{{feeyear}}</b></h4>
				</div>
				<div class="row">
					
					<div class="col-md-6" style="background:#a7eaf5;">	
							<form #searchClassFee="ngForm" (ngSubmit)="onClickSearchClassFee(searchClassFee)" class="form-groupx ">
							<div class="row">
								<div class="col-md-4 form-group" >
									<p *ngIf="!selectClass.valid && selectClass.touched " class="alert alert-danger " style="margin-top:1em; margin-left:0em; ">
										Class is required!
									</p>
									<label class="control-label "><b>Class *</b></label>
									<select #selectClass="ngModel" class="form-control fm-control" required style="margin-top:0em;" #selectedClass [(ngModel)]="class_id"
										(change)=classSelected(selectedClass.value); name="class_id">
										<option [ngValue]="undefined" disabled>Select Class </option>
										<option *ngFor="let item of classdataList" [value]="item.class_id">{{item.class_name}}</option>
									</select>
								</div>
								<!--
								<div class="col-md-4 form-group" >						
									<p *ngIf="!selectSection.valid && selectSection.touched " class="alert alert-danger " style="margin-top:1em; margin-left:0em; ">
										Section is required!
									</p>
									<label class="control-label "><b>Section *</b></label>
									<select class="form-control fm-control"  #selectSection="ngModel" style="margin-top:0em;" [(ngModel)]="section_id"
										#selectedSection  name="section_id">
										<option [ngValue]="undefined" disabled>Select Section</option>
										<option *ngFor="let item of sectionData" [value]="item.section_id">{{item.section_name}}</option>
									</select>
								</div>
								-->
								<div class="col-md-4 form-group" >		
									<label class="control-label "> &nbsp; &nbsp; </label><br/>
									<input type="submit" [disabled]="!searchClassFee.form.valid" class="btn btn-info " value="Search ">
								</div>
							</div>
						</form>	
					</div>	
					
					<div class="col-md-6" style="background: #c8fcff;">
						<form #updateFeeVoucher="ngForm" (ngSubmit)="OnClickUpdateFeeVoucher(updateFeeVoucher)" class="form-group ">
							<div class="row">
								<div class="col-md-5 form-group" >		
									<p *ngIf="!selectedFeeOption.valid && selectedFeeOption.touched " class="alert alert-danger " style="margin-top:1em; margin-left:0em; ">
										Class is required!
									</p>
									<label class="control-label "><b>Action</b></label>
									<select required class="form-control fm-control"  (change)=showTextFields(selectedFeeOption.value); style="margin-top:0em;" [(ngModel)]="actions" #selectedFeeOption  name="actions">
										<option [ngValue]="undefined" disabled></option>
										<option *ngFor="let item of paidTypes " [value]="item.id">{{item.name}}</option>
									</select>
								</div>
								<div class="col-md-5 form-group" [hidden]="!this.showDueDate">
									<label class="control-label "><b>Due Date</b></label><Br/>
									<input type="text" required style="margin-top:0em;width:50px;float:left" class="form-control fm-control" name="dueDate" placeholder="Due Fee Date" [(ngModel)]="dueDate"  *ngIf="selectedFeeOption.value == 1">
									<input type="text" style="margin-top:0em;width:50px;float:left" class="form-control fm-control" name="feemonth" placeholder="Fee Month" disabled [(ngModel)]="feemonth" >
									<input type="text" style="margin-top:0em;width:70px;float:left" class="form-control fm-control" name="feeyear" placeholder="Fee Year" disabled [(ngModel)]="feeyear" >
								</div>
								<div class="col-md-5 form-group" [hidden]="!this.PaidDate">
									<label class="control-label" ><b>Paid Date</b></label>	
									<input type="date" required class="form-control fm-control " style="margin-top:0em; " name="paiddate"  [(ngModel)]="paiddate" *ngIf="selectedFeeOption.value == 3">
								</div>
								<div class="col-md-2 form-group" >		
									<label class="control-label "> &nbsp; &nbsp; </label><br/>
									<input type="submit" [disabled]="!updateFeeVoucher.form.valid " class="btn  btn-sm  btn-success  " value="Update ">
								</div>
							</div>
						</form>	
					</div>	
				</div>	
				<div class="row">
						<div id="no-more-tables" class=" col-lg-12 p-0" >
						<form class="form-group" #updateFee="ngForm">
						
							<table class="table table-striped table-bordered table-sm" cellspacing="0">
								<thead class="thead-dark  ">
									<tr>
										<th>
											<input name="selectAll" (change)="selectAll()" type="checkbox" />
										</th>
										<th>Admission#</th>
										<th>Student</th>
										<th>Class</th>
										<th>Section</th>
										<th>Tuition Fee</th>
										<th>Discount</th>
										<th *ngFor="let item of feeheadList ">{{ item.head_name }}</th>
										<th>On Due Date</th>
										<th>Late Fee</th>
										<th>Paid Amount</th>
										<th>Paid</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of voucher_data let index = index">
										<td title="#">
											<div  *ngIf="classInvoiceData[item.std_id].fee_status === 'unpaid'">
											<input type="checkbox" name="studentid"   [value]="item.std_id" (change)='UpdateCheckBox(item.std_id)'>
											</div>
										</td>
										<td title="Admission#.">{{item.roll_num}}</td>
										<td title="Student">{{item.std_name}}.</td>
										<td title="Class">{{item.class_name}}</td>
			 							<td title="Section" >{{item.section_name}}</td>
										<td title="Tuition Fee" >{{item.fee}}</td>
										<td title="Discount" >{{classInvoiceData[item.std_id].discount_amount}}</td>
										<td *ngFor="let head of feeheadList let ind = ind" title={{head.head_name}}>
											<label>{{item['heads'][head.fee_heads_id]}}</label>
										</td>
										<td title="On Due Date" >{{item.dueDate}}</td>										
										<td title="Late Fee"  >										
											<ng-template [ngIf]="classInvoiceData[item.std_id].is_writeoff">0</ng-template>
											<ng-template [ngIf]="classInvoiceData[item.std_id].late_fee">{{classInvoiceData[item.std_id].late_fee}}</ng-template>
											<ng-template [ngIf]="!classInvoiceData[item.std_id].is_writeoff && !classInvoiceData[item.std_id].late_fee">{{lateFee}}</ng-template>

										</td>
										<td title="Paid Amount" >{{classInvoiceData[item.std_id].amount_paid}}</td>
										<td title="Paid" class="text-capitalize">
											<strong>
											  <span
												[style.color]="item.fee_status == 'unpaid' ? 'red': (classInvoiceData[item.std_id].fee_status == 'paid' ? 'green' : 'brown')">
												{{classInvoiceData[item.std_id].fee_status}}
											  </span>
											</strong>
										</td>
									</tr>
								</tbody>
							</table>
						</form>	
						<div class="row float-right  pr-3" *ngIf="printButton">
							<p style="text-align:left !important;">
								<button class="btn btn-success  btn-sm  ">Send Message </button>
							</p>
						</div>
						<!--
						<div class="row float-right  pr-3" *ngIf="printButton">
							<p style="text-align:left !important;">
								<button (click)="onClickPrintVoucherInvoice()" class="btn btn-success  btn-sm  ">Print Voucher</button>
							</p>
						</div>
						-->
						</div>	
				</div>
			</div>
        </div>
    </div>
</div>

<!-- Load Modal on Page Load -->
<ng-template #searchStudentFee>
    <div class="modal-header ">
        <div style="text-align: center ">
            <h3>Voucher List</h3>
        </div>
        <!--
        <button type="button " class="close " aria-label="Close "> 
        <span aria-hidden="true ">&times;</span>
        </button>
        -->
    </div>
    <form #searchClassFee="ngForm" (ngSubmit)="onClickSearchClassFee(searchClassFee)" class="form-group ">
        <div class="modal-body ">
            <p *ngIf="!selectClass.valid && selectClass.touched " class="alert alert-danger " style="margin-top:1em; margin-left:0em; ">
                Class is required!
            </p>
            <label class="control-label "> Class * </label>
			<select #selectClass="ngModel" class="form-control fm-control" required style="margin-top:0em;" #selectedClass [(ngModel)]="class_id"
				(change)=classSelected(selectedClass.value); name="class_id">
				<option [ngValue]="undefined" disabled>Select Class </option>
				<option *ngFor="let item of classdataList" [value]="item.class_id">{{item.class_name}}</option>
			</select>
			<!--
            <p *ngIf="!selectSection.valid && selectSection.touched " class="alert alert-danger " style="margin-top:1em; margin-left:0em; ">
                Section is required!
            </p>
            <label class="control-label "> Section * </label>
			<select class="form-control fm-control"  #selectSection="ngModel" style="margin-top:0em;" [(ngModel)]="section_id"
				#selectedSection  name="section_id">
				<option [ngValue]="undefined" disabled>Select Section</option>
				<option *ngFor="let item of sectionData" [value]="item.section_id">{{item.section_name}}</option>
			</select>
			-->
        </div>
        <div class="modal-footer ">
            <input type="submit" [disabled]="!searchClassFee.form.valid" class="btn btn-info " value="Search ">
        </div>
    </form>
</ng-template>